body{
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    width: 992px;
    margin: 0 auto;
    background-color: #f7f7f7;
}
header{
    width: 992px;
    height:50px;
    margin: 0 auto;
    background-color:#355c7d;
    color: white;
}
header p{
    display: inline-block;
    vertical-align: top;
    margin-left: 60px;
    margin-top: 15px;
}
header p a{
    color: white;
    text-decoration: none;
}
.login{
    margin-left: 380px;
}
.login a{
    padding: 0px 5px;
}
.navbar{
    height: 90px;
    margin-top: 0px;
    background-color: white;
}
.navbar .logo{
    width: 100px;
    height: 70px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 15px;
}
.navbar .logo img{
    width: 100%;
    height: 100%;
}
.navbar>ul{
    margin: 0;
    padding: 0;
    vertical-align: top;
    margin-top: 28px;
    float: right;
    vertical-align: top;
}
.navbar>ul>li{
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.navbar>ul>li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.navbar>ul>li>a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 15px;
    text-transform: uppercase;
    color:#355c7d;
    font-weight: bold;
}
.navbar>ul>li>a:hover{
    background-color: #d95b43;
    border-radius: 5px;
    color: white;
}
.navbar>ul>li>ul{
    margin: 0;
    padding: 0;
    vertical-align: top;
    margin-top: 10px;
    width: 150px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 60%;
    transition: all linear 0.3s;
    transition-timing-function: cubic-bezier(0.15, -2, 0.15, 3);
    background-color: white;
}
.navbar>ul>li>ul>li{
    list-style-type: none;
    border-bottom: 1px solid rgb(218, 218, 218);
}
.navbar>ul>li>ul>li>a{
    text-decoration: none;
    display: inline-block;
    color: black;
    text-transform: uppercase;
    padding: 5px 10px;
    font-size:12px;
    font-weight: bold;
}
.sidemenu{
    position: relative;
}
.sidemenu>ul>li>ul{
    margin: 0;
    padding: 0 0px;
    vertical-align: top;
    margin-top: 10px;
    width: 200px;
    position: absolute;
    display: none;
    top: 45%;
    left:100%;
    background-color:white
}
.sidemenu>ul>li:hover ul{
    display: block;
    top: 52%;
}
.sidemenu>ul>li>a:hover,
.sidemenu>ul>li>ul>li>a:hover{
    color: #d95b43;
}
.sidemenu>ul>li>ul>li{
    list-style-type: none;
    border-bottom: 1px solid rgb(218, 218, 218);
}
.sidemenu>ul>li>ul>li>a{
    text-decoration: none;
    display: inline-block;
    color: black;
    text-transform: capitalize;
    padding: 5px 10px;
    font-size:10px;
    font-weight: bold;
}
.heading{
    color: #35537d;
}
.heading h1{
    display: inline-block;
    text-transform: uppercase;
    margin-left: 20px;
    font-size: 25px;
}
.heading p{
    text-transform: capitalize;
    float: right;
    margin-top: 25px;
    padding: 0px 20px;
}
.blog{
    border: 1px solid red;
}
.blog .info{
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
    margin-top: 20px;
    color: black;
    text-align:center;
    padding: 0;
    position: relative;
}

.blog .info .top{
    position: absolute;
    width:100%;
    height:60%;
    background-color: #355c7d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 0px 0px;
    margin: 0px 0px;
}
.blog .info .bottom{
    position: absolute;
    width:100%;
    height:40%;
    background-color: #d95b43;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    bottom: 0;
    left: 0;
    z-index: -1;
    padding: 0px 0px;
    margin: 0px 0px;
}
.blog .info .text{
    padding: 0px 5px;
}


.blog .news{
    border: 1px solid rgb(0, 255, 13);
    display: inline-block;
    width: 85%;
    margin-left: 30px;
    margin-top: 20px;
}
.blog .news .news_img{
    border: 1px solid red;
    display: inline-block;
    width: 800px;
    height: 480px;
    border-radius: 5px;
}
.blog .news .news_img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.blog .news_content{
    border: 1px solid black;
}
.blog .news_content h3{}
.blog .news_content p{
}

